{
  "compilerOptions": {
    "allowImportingTsExtensions": true,
    "composite": true,
    "module": "ESNext",
    "moduleResolution": "bundler",
    "noEmit": true,
    "skipLibCheck": true,
    "strict": true,
    "target": "ES2023",
    "types": [
      "node"
    ]
  },
  "include": [
    "vite.config.ts",
    "vitest.config.ts"
  ]
}
