[Unit]
Description=Nebius VPNGW Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m nebius_vpngw.agent.main
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
