[Unit]
Description=Fix Nebius VPN Gateway routing issues periodically
Documentation=https://github.com/nebius/nebius-ps-services

[Timer]
OnBootSec=30s
OnUnitActiveSec=5min
Unit=nebius-vpngw-fix-routes.service

[Install]
WantedBy=timers.target
